body {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #fff;
    height: 100vh;

   
}

form {
    background: rgb(212, 239, 240);
    text-align: left;
    padding: 5px;
  
}

 

   



